<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/resources :: resources">

</head>
<body>
<div id="app">
    <!-- Header -->
    <div th:replace="fragments/header :: header">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "fragments/header.html" at runtime.                                     -->
        <!-- ============================================================================ -->
    </div>
    <div class="container">
        <div layout:fragment="content">
            <p>Content goes here...</p>
        </div>
        <footer>
            <div th:replace="fragments/footer :: footer">&copy; 2017 blog.codeleak.pl</div>
        </footer>
    </div>
</div>
<!-- 主页 -->
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                currPage: 1,
                pageSize: 10,
                postList: [],
                topList: [],
                active: 0,
                orderActive: 0,
                activeLabel: 0,
                sort: 0,
                labelList: [],
                showChannel: true,     // 温馨通道
                showSign: true,        // 签到
                isReply: true,         // 回帖周榜
            }
        },
        created() {
            this.getLabelList();
            this.tabLabel(0);

        },
        methods: {
            getLabelList() {
                this.$http.get('/label/list').then(res => {
                    console.log(res.data.data)
                    this.labelList = res.data.data.list;
                })
            },
            getList(index) {
                this.active = index;
                this.$http.get("/posts/list?currPage=" + this.currPage + "&pageSize=" + this.pageSize + "&sort=" + this.sort + "&searchType=" + this.active).then(res => {
                    // console.log(res.data.data)
                    this.postList = res.data.data;
                })
            },
            getTopList() {
                this.$http.get("/posts/top?)").then(res => {
                    // console.log(res.data.data)
                    this.topList = res.data.data;
                })
            },
            setOrder(index) {
                this.orderActive = index;
                this.sort = index;
                this.getList(this.active);
            },
            tabLabel(index) {
                this.activeLabel = index;
                if (index != 0) {
                    this.showChannel = false;
                    this.showSign = false;
                    this.isReply = false;
                } else {
                    this.showChannel = true;
                    this.showSign = true;
                    this.isReply = true;
                }

                this.setOrder(0);
                this.getTopList();
            }
        }
    })
</script>
</body>
</html>